---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { Image } from "astro:assets";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Infrared Radiant Systems</h1>
      <h1>Your Shield Against the Cold!</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>

      <br />

      <p style="text-align:center">
        What We Do: Install Cutting-Edge Heating Solutions Across the USA!
      </p>

      <div style="text-align:center">
        <p>
          Call
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
            href="tel:937-238-2430"
          >
            Infrared Radiant Systems
          </LinkButton> today!
        </p>

        {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <div class="social-links">Send Us An Email!</div>
              <Socials />
            </div>
          )
        }
      </div>

      <Image
        src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1709052322/irsheat/enhanced_radiant_dltyhk.png"
        alt="Infrared Radiant Heat Flow"
        width="600"
        height="400"
      />
      <p>
        Infrared Radiant Systems specializes in installing and servicing Roberts
        Gordon Infrared heating systems in commercial buildings.
      </p>

      <p>
        Need to heat a warehouse? Look to us to keep your workers warm with a
        high efficiency, modulating CoRayVac heating system.
      </p>

      <p>
        Converting your fleet to liquified natural gas? Since 2020 we have been
        on the forefront installing Specialty Fuel Heating Systems that are
        compliant with methane detection systems.
      </p>

      <p>
        Are your unit heaters struggling to recover when you open your overhead
        doors? Choose from a variety of systems that heat the objects, not just
        the air, in the room.
      </p>

      <p style="text-align:center">
        Call
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="tel:937-238-2430"
        >
          Infrared Radiant Systems
        </LinkButton> today!
      </p>

      <Image
        src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947406/irsheat/20230418_172317_p57csz.jpg"
        alt="Infrared Radiant Heat Flow"
        width="600"
        height="300"
      />

      <Image
        src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947419/irsheat/20230520_132459_xazabh.jpg"
        alt="Roberts Gordon Heating System Installation"
        width="800"
        height="800"
      />

      <Image
        src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947471/irsheat/20230105_125938_ohv49n.jpg"
        alt="Infrared Radiant Heat Flow"
        width="800"
        height="800"
      />
    </section>

    <p>
      <center>
        Contact
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://overheadproducts.com/contact-us/"
        >
          Overhead Products
        </LinkButton> to discuss a Specialty HVAC solution today!
      </center>
    </p>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947411/irsheat/20230520_132601_te3eyl.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947412/irsheat/20221006_092308_o1w7yf.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947176/irsheat/20220315_080948_nlqg1g.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947409/irsheat/20230418_172352_zgcz2t.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947415/irsheat/20230418_172437_kydymk.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
