---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { Image } from "astro:assets";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />

  <Main pageTitle="Photos and Links" pageDesc="See Our Work!">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947411/irsheat/20230520_132601_te3eyl.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947412/irsheat/20221006_092308_o1w7yf.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <Image
      src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947176/irsheat/20220315_080948_nlqg1g.jpg"
      alt="Roberts Gordon Heating System Installation"
      width="800"
      height="800"
    />

    <script
      is:inline
      src="https://product-gallery.cloudinary.com/all.js"
      type="text/javascript"></script>

    <div id="my-gallery-3" style="max-width:80%"></div>

    <script src="/src/pg_widget_3.js" type="text/javascript"></script>

    <div id="my-gallery-3" style="max-width:80%;margin:auto"></div>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
