---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { Image } from 'astro:assets'

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Worksite Photos" pageDesc="See Our Work!">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947455/irsheat/20230418_172246_d3sevs.jpg" alt="Infrared Radiant Heat Flow" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947470/irsheat/20230105_125849_d8ptr4.jpg" alt="Infrared Radiant Heat Flow" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947468/irsheat/20230520_132556_ab9ogq.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947465/irsheat/20220925_095923_fmjwr1.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>


    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947452/irsheat/20230105_125920_ljmzra.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>



    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947445/irsheat/20220315_080948_mda1hw.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947443/irsheat/20230520_132528_wvvicm.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947438/irsheat/20230418_172309_pmmd0k.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947438/irsheat/20220926_111329_wridu6.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>
    


    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947423/irsheat/20221006_092302_zimcor.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

S

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947415/irsheat/20230418_172258_utivtj.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>

    <Image src="https://res.cloudinary.com/dqzj6idvg/image/upload/v1708947413/irsheat/20220926_111336_ihuxyi.jpg" alt="Roberts Gordon Heating System Installation" width="800" height="800"/>





  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
